@using Peluqueria_Calibrum.Models
@model IEnumerable<ServicioModel>

@{
    ViewData["Title"] = "Servicios";
}
<div class="card">
    <div class="card-header">
        <div class="card-title">
            <a>Administrar <span>Servicios</span></a>
        </div>
        <div class="card-btn">
            <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#miEmpleado">
                <i class="fa-solid fa-circle-plus"></i>
                Nuevo Servicio
            </a>
        </div>
    </div>


    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="mt-2 form-floating">
                    <input id="fullname" type="text" class="form-control">
                    <label for="fullname">Servicio</label>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="mt-2 form-floating">
                    <select class="form-select">
                        <option value="" disabled selected></option>
                        <option value="Peluquero">Peluquero</option>
                        <option value="Barbero">Barbero</option>
                    </select>
                    <label for="categoria">Categoría:</label>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <button type="button" class="btn btn-secondary btn-circle">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="styled-table table-sm">
                <thead>
                    <tr>
                        <th>Servicios</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Categoría</th>
                        <th>Acciones</th>
                        <th>Mostrar en Inicio</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Nombre</td>
                            <td>@item.Descripcion</td>
                            <td>$@item.Precio</td>
                            <td>@item.Categoria</td>
                            <td>
                                <a class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editarServicio" onclick="cargarServicios(@item.Id)">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a class="btn btn-danger">
                                    <i class="fa-solid fa-trash" onclick="eliminar(@item.Id)"></i>
                                </a>
                                
                            </td>
                            <td style="text-align:center">
                                @switch (item.Mostrar_Home)
                                {
                                    case 1:
                                        <a class="btn btn-success" >Si</a>
                                        break;
                                    case 0:
                                        <a class="btn btn-secondary">No</a>
                                        break;
                                    default:
                                        <a class="btn btn-info">No asignado</a>
                                        break;
                                }
                            </td>
                        </tr>
                        
                    }
                </tbody>
            </table>
        </div>
    </div>



    <!-- Modal para editar Servicio -->
    <div class="modal fade" id="editarServicio" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticLabel">Editar Servicio</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="formEditarServicio" action="/Servicios/InsertServicios" method="post">
                    <div class="modal-body">
                        <div class="form-group mb-3">
                            <label for="Nombre" class="form-label">Nombre del Servicio:</label><br />
                            <input required type="text" class="form-control" id="nombre" name="Nombre" />
                        </div>

                        <div class="form-group mb-3">
                            <label for="Categoria" class="form-label">Categoría</label><br />
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Categoria" id="peluquero" value="Peluquero" required>
                                <label class="form-check-label" for="peluquero">
                                    Peluquero
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Categoria" id="barbero" value="Barbero">
                                <label class="form-check-label" for="barbero">
                                    Barbero
                                </label>
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label for="Descripcion" class="form-label">Descripción</label>
                            <textarea required class="form-control" rows="3" id="descripcion" name="Descripcion"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="Precio" class="form-label">Precio</label>
                            <input required type="number" class="form-control" id="precio" name="Precio" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="Mostrar_Home" class="form-label">Mostrar en la página de inicio</label><br />
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Mostrar_Home" id="1" value="1" required>
                                <label class="form-check-label" for="1">
                                    Sí
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Mostrar_Home" id="0" value="0">
                                <label class="form-check-label" for="0">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn btn-primary">
                            Modificar Servicio
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!-- Fin Modal editar Servicio -->

<!-- Modal -->
    <div class="modal fade " id="miEmpleado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-2">
                <div class="modal-header">
                    <h2 class="modal-title">Agregar Nuevo Servicio</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/Servicio/InsertServicios" method="post">
                    <div class="modal-body">
                        <div class="form-group mb-3">
                            <label for="Nombre" class="form-label">Nombre del Servicio:</label><br />
                            <input required type="text" class="form-control" id="nombre" name="Nombre" />
                        </div>

                        <div class="form-group mb-3">
                            <label for="Categoria" class="form-label">Categoría</label><br />
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Categoria" id="peluquero" value="Peluquero" required>
                                <label class="form-check-label" for="peluquero">
                                    Peluquero
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Categoria" id="barbero" value="Barbero">
                                <label class="form-check-label" for="barbero">
                                    Barbero
                                </label>
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label for="Descripcion" class="form-label">Descripción</label>
                            <textarea required class="form-control" rows="3" id="descripcion" name="Descripcion"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="Precio" class="form-label">Precio</label>
                            <input required type="number" class="form-control" id="precio" name="Precio" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            Agregar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="js/servicio.js"></script>