@model Peluqueria_Calibrum.Models.EmpleadoServicioModel


<table class="styled-table table-sm">
    <thead>
        <tr>
            <th>Hora | Dia(Año/Mes/Dia)</th>
            <th>Servicio(s)</th>
            <th>Empleado</th>
            <th>Datos del Cliente</th>
            <th>Precio</th>
            <th>Acciones</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var cita in Model.Citas)
        {
            <tr>
                <td>@cita.Hora | @cita.Dia</td>
                <td>@cita.Nombre_servicio</td>
                <td>@cita.Nombre_Empleado</td>
                <td>@cita.Nombre_cliente <br />@cita.Telefono</td>
                <td>$@cita.Precio_Total</td>
                <td>
                    <a class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editarCita" onclick="cargarCitas(@cita.Id)">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a class="btn btn-danger" onclick="eliminar(@cita.Id)">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
