@model Peluqueria_Calibrum.Models.UnionModel

@{
    ViewData["Title"] = "Citas";
}
<head>
    <link rel="stylesheet" href="~/css/vistas.css">

</head>

<div class="card">
    <div class="card-header">
        <div class="card-title">
            <a>Administrar <span>Citas</span></a>
        </div>
        <div class="card-btn">
            <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#miCita">
                <i class="fa-solid fa-circle-plus"></i>
                Nueva Cita
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-auto">
                <div class="mt-2 form-floating">
                    <input id="servicio" type="text" class="form-control">
                    <label for="servicio">Finalizadas</label>
                </div>
            </div>
            <div class="col-auto">
                <a type="button" class="btn btn-primary btn-circle" href="/ListaCitas">
                    <i class="fa-solid fa-rotate-right"></i>
                </a>
            </div>
        </div>
        <div class="table-responsive" id="tablaCitas">
            @Html.Partial("_TablaCitas", Model)
        </div>
    </div>

    <!-- Modal para editar Cita -->
    <div class="modal fade" id="editarCita" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticLabel">Editar Cita</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="formEditarCita" action="/Citas/InsertCitas" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="form-label">Seleccione un servicio:</label>
                            <select required class="form-select" aria-label="Id_Servicio" name="id_servicio">
                                <option value="" disabled selected>Seleccione</option>
                                @foreach (var servicio in Model.Servicios)
                                {
                                    <option value="@servicio.Id" data-precio="@servicio.Precio">@servicio.Nombre, @servicio.Precio</option>
                                }
                            </select>
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label">Seleccione un empleado:</label>
                            <select required class="form-select" aria-label="Id_Empleado" name="id_empleado">
                                <option value="" disabled selected>Seleccione</option>
                                @foreach (var empleado in Model.Empleados)
                                {
                                    <option value="@empleado.Id"> @empleado.Id | @empleado.Nombre | @empleado.Cargo</option>
                                }
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-6 mt-3">
                                <label for="fecha" class="form-label">Fecha</label>
                                <input required class="form-control" type="date" id="dia" name="dia" />
                            </div>
                            <div class="col-6 mt-3">
                                <label for="hora" class="form-label">Hora</label>
                                <select required class="form-select fecha-agregar" id="hora" name="hora">
                                    <option value="" disabled selected>Seleccione una opción</option>
                                    <option>10:00</option>
                                    <option>10:30</option>
                                    <option>10:00</option>
                                    <option>10:30</option>
                                    <option>11:00</option>
                                    <option>11:30</option>
                                    <option>12:00</option>
                                    <option>12:30</option>
                                    <option>13:00</option>
                                    <option>13:30</option>
                                    <option>14:00</option>
                                    <option>14:30</option>
                                    <option>15:00</option>
                                    <option>15:30</option>
                                    <option>16:00</option>
                                    <option>16:30</option>
                                    <option>17:00</option>
                                    <option>17:30</option>
                                    <option>18:00</option>
                                    <option>18:30</option>
                                    <option>19:00</option>
                                </select>
                            </div>
                        </div>
                        <div class="text-center mt-3">
                            <h3 class="fw-bold">Datos Cliente</h3>
                        </div>
                        <div class="mt-2">
                            <label class="form-label">Nombre Cliente</label>
                            <input required type="text" class="form-control" id="nombre_cliente" name="nombre_cliente">
                        </div>
                        <div class="mt-3">
                            <label class="form-label">Telefono Movil</label>
                            <input required type="tel" class="form-control" id="telefono" name="telefono" pattern="[0-9]{9}" placeholder="993529842" maxlength="9" oninput="validarNumero(this)">
                        </div>
                        <div class="form-group mb-3">
                            <label for="Finalizado" class="form-label">Finalizado</label><br />
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Finalizado" id="1" value="1" required>
                                <label class="form-check-label" for="1">
                                    Sí
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Finalizado" id="0" value="0">
                                <label class="form-check-label" for="0">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="agendarCitaBtnModal" type="submit" class="btn btn-primary">
                            Agendar cita
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Fin Modal editar Cita -->

    <!-- Modal AGREGAR -->
    <div class="modal fade" id="miCita" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title fw-bold" id="modalLabel">Agendar Hora</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="formCita" action="/Citas/InsertCitas" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="form-label">Seleccione un servicio:</label>
                            <select required class="form-select" aria-label="Id_Servicio" name="id_servicio">
                                <option value="" disabled selected>Seleccione</option>
                                @foreach (var servicio in Model.Servicios)
                                {
                                    <option value="@servicio.Id" data-precio="@servicio.Precio">@servicio.Nombre, @servicio.Precio</option>
                                }
                            </select>
                        </div>
                        <div class="form-group mt-3">
                            <label class="form-label">Seleccione un empleado:</label>
                            <select required class="form-select" name="id_empleado" aria-label="Id_Empleado">
                                <option value="" disabled selected>Seleccione</option>
                                @foreach (var empleado in Model.Empleados)
                                {
                                    <option value="@empleado.Id"> @empleado.Id | @empleado.Nombre | @empleado.Cargo</option>
                                }
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-6 mt-3">
                                <label for="fecha" class="form-label">Fecha</label>
                                <input class="form-control fecha-agregar" type="date" id="dia" name="dia" />
                            </div>
                            <div class="col-6 mt-3">
                                <label for="hora" class="form-label">Hora</label>
                                <select required class="form-select fecha-agregar" id="hora" name="hora">
                                    <option value="" disabled selected>Seleccione una opción</option>
                                    <option>10:00</option>
                                    <option>10:30</option>
                                    <option>10:00</option>
                                    <option>10:30</option>
                                    <option>11:00</option>
                                    <option>11:30</option>
                                    <option>12:00</option>
                                    <option>12:30</option>
                                    <option>13:00</option>
                                    <option>13:30</option>
                                    <option>14:00</option>
                                    <option>14:30</option>
                                    <option>15:00</option>
                                    <option>15:30</option>
                                    <option>16:00</option>
                                    <option>16:30</option>
                                    <option>17:00</option>
                                    <option>17:30</option>
                                    <option>18:00</option>
                                    <option>18:30</option>
                                    <option>19:00</option>
                                </select>
                            </div>
                        </div>
                        <div class="text-center mt-3">
                            <h3 class="fw-bold">Datos Cliente</h3>
                        </div>
                        <div class="mt-2">
                            <label class="form-label">Nombre Cliente</label>
                            <input required type="text" class="form-control" id="nombre_cliente" name="nombre_cliente">
                        </div>
                        <div class="mt-3">
                            <label class="form-label">Telefono Movil</label>
                            <input required type="tel" class="form-control" id="telefono" name="telefono" pattern="[0-9]{9}" placeholder="993529842" maxlength="9" oninput="validarNumero(this)">
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" onclick="MensajeExito()">
                            Agendar cita
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>


<script src="js/citas.js"></script>