@using Peluqueria_Calibrum.Models
@model IEnumerable<CitaModel>
@{
    ViewData["Title"] = "Citas";
}
<head>
    <link rel="stylesheet" href="~/css/vistas.css">

</head>

<div class="card">
    <div class="card-header">
        <div class="card-title">
            <a>Administrar <span>Citas</span></a>
        </div>
        <div class="card-btn">
            <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#miCita">
                <i class="fa-solid fa-circle-plus"></i>
                Nueva Cita
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-auto">
                <div class="mt-2 form-floating">
                    <input id="fullname" type="text" class="form-control">
                    <label for="fullname">Servicio</label>
                </div>
            </div>
            <div class="col-auto">
                <div class="mt-2 form-floating">
                    <input id="fullname" type="text" class="form-control">
                    <label for="fullname">Peluquero</label>
                </div>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-secondary btn-circle">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="styled-table table-sm">
                <thead>
                    <tr>
                        <th>Hora | Dia(Año/Mes/Dia)</th>
                        <th>Servicio(s)</th>
                        <th>Datos del Cliente</th>
                        <th>Precio</th>
                        <th>Acciones</th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Hora | @item.Dia</td>
                            <td>@item.Nombre_servicio</td>
                            <td colspan style="white-space: pre-wrap;">@item.Nombre_cliente <br />@item.Telefono</td>
                            <td>$@item.Precio_total</td>
                            <td>
                                <a class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editarCita" onclick="cargarCitas(@item.Id)">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a class="btn btn-danger" onclick="eliminar(@item.Id)">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal para editar Cita -->
    <div class="modal fade" id="editarCita" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticLabel">Editar Cita</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="formEditarCita" action="/Citas/InsertCitas" method="post">
                    <div class="modal-body">
                        <div class="form-group mb-4">
                            <label for="fecha">Fecha:</label>
                            <input required type="date" class="form-control" id="dia" name="dia" />
                        </div>
                        <div class="form-group mb-4">
                            <label for="hora">Hora:</label>
                            <input required type="time" class="form-control" id="hora" name="hora">
                        </div>
                        <div class="form-group mb3">
                            <label for="hora">Seleccione un servicio:</label>
                            <select required class="form-select" aria-label="Servicios" name="nombre_servicio">
                                <option disabled selected></option>
                                <option value="Corte de Cabello">Corte de Cabello</option>
                                <option value="Alisado">Alisado</option>
                            </select>
                        </div>

                        <div class="form-group mb-3">
                            <label for="hora">Seleccione un empleado:</label>
                            <select required class="form-select" arial-label="Peluquero" name="id_empleado" aria-label="id_empleado">
                                <option disabled selected></option>
                                <option value="1">Peluquero_1</option>
                                <option value="2">Peluquero_2</option>
                                <option value="3">Barbero_1</option>
                                <option value="4">Barbero_2</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="precioTotal" class="form-label">Cambiar Precio</label>
                            <input required type="text" class="form-control" id="precio_total" name="precio_total">
                        </div>
                        <div>
                            <h3 class="modal-title">Datos Cliente</h3>
                        </div>
                        <div class="mb-3">
                            <label for="nombreCliente" class="form-label">Nombre Cliente:</label>
                            <input required type="text" class="form-control" id="nombre_cliente" name="nombre_cliente">
                        </div>
                        <div class="mb-3">
                            <label for="telefono" class="form-label">Numero de telefono:</label>
                            <input required type="text" class="form-control" id="telefono" name="telefono">
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn btn-primary">
                            Agendar cita
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Fin Modal editar Cita -->

    <!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

    <!-- Modal AGREGAR -->
    <div class="modal fade " id="miCita" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
            <div class="modal-content rounded-2  align-items-center ">
                <div class="modal-header ">
                    <h2 class="modal-title">Reserva de Hora</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/Citas/InsertCitas" method="post">
                    <div class="modal-body">
                        <div class="form-group mb-4">
                            <label for="fecha">Fecha:</label>
                            <input required type="date" class="form-control" id="dia" name="dia" />
                        </div>
                        <div class="form-group mb-4">
                            <label for="hora">Hora:</label>
                            <input required type="time" class="form-control" id="hora" name="hora">
                        </div>
                        <div class="form-group mb3">
                            <label for="hora">Seleccione un servicio:</label>
                            <select required class="form-select" aria-label="Servicios" name="nombre_servicio">
                                <option disabled selected></option>
                                <option value="Corte de Cabello">Corte de Cabello</option>
                                <option value="Alisado">Alisado</option>
                            </select>
                        </div>
                        
                        <div class="form-group mb-3">
                            <label for="hora">Seleccione un empleado:</label>
                            <select required class="form-select" arial-label="Peluquero" name="Id_Empleado" aria-label="Id_Empleado">
                                <option disabled selected></option>
                                <option value="1">Peluquero_1</option>
                                <option value="2">Peluquero_2</option>
                                <option value="3">Barbero_1</option>
                                <option value="4">Barbero_2</option>
                            </select>
                        </div>
                        <div>
                            <h3 class="modal-title">Datos Cliente</h3>
                        </div>
                        <div class="mb-3">
                            <label for="nombreCliente" class="form-label">Nombre Cliente:</label>
                            <input required type="text" class="form-control" id="nombre_cliente" name="nombre_cliente">
                        </div>
                        <div class="mb-3">
                            <label for="telefono" class="form-label">Numero de telefono:</label>
                            <input required type="text" class="form-control" id="telefono" name="telefono">
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn btn-primary">
                            Agendar cita
                        </button>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>

<script>
    function eliminar(id) {
        if (confirm("¿Está seguro que desea eliminar esta cita?")) {
            $.ajax({
                url: "/Citas/DeleteCitas",
                type: "DELETE",
                data: { id: id },
                success: function (data) {
                    // Actualizar la vista después de eliminar el elemento
                    location.reload();
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log(xhr.responseText);
                }
            });
        }
    }

    function cargarCitas(id) {
        $.ajax({
            url: "/Citas/GetCitaEdit",
            type: "GET",
            data: { id: id },
            success: function (data) {

                $("#hora").val(data.hora);
                $("#dia").val(data.dia);
                $("#nombre_cliente").val(data.nombre_cliente);
                $("#nombre_servicio").val(data.nombre_servicio);
                $("#telefono").val(data.telefono);
                $("#precio_total").val(data.precio_total);

                $("#formEditarCita").attr("action", "/Citas/UpdateCita?id=" + data.id);
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log(xhr.responseText);
            }
        });
    }
    
</script>