@using Peluqueria_Calibrum.Models
@model IEnumerable<EmpleadoModel>
@{
    ViewData["Title"] = "Empleado";
}
<head>

<link rel="stylesheet" href="~/css/vistas.css">


</head>

<div class="card">
    <div class="card-header">
        <div class="card-title">
            <a>Administrar <span>Empleados</span></a>
        </div>
        <div class="card-btn">
            <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#miEmpleado" style="font-family:'Inter Bold'">
                <i class="fa-solid fa-circle-plus"></i>   
                Nuevo Empleado
            </a>
        </div>
        
    </div>
    
    <div class="card-body">
        <div class="row">
            <div class="col-auto">
                <div class="mt-2 form-floating">
                    <input id="fullname" type="text" class="form-control">
                    <label for="fullname">Nombre o Apellido</label>
                </div>
            </div>
            <div class="col-auto">
                <div class="mt-2 form-floating">
                    <input id="fullname" type="text" class="form-control">
                    <label for="fullname">Servicio</label>
                </div>
            </div>
            <div class="col-auto">
                <div class="mt-2 form-floating">
                    <select class="form-select">
                        <option value="" disabled selected></option>
                        <option value="Peluquero">Peluquero</option>
                        <option value="Barbero">Barbero</option>
                        <option value="Administrador">Administrador</option>
                    </select>
                    <label for="cargo">Cargo:</label>
                </div>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-secondary btn-circle">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            @*<label>Ingrese Contraseña</label>
            <div class="input-group password">
                <input ID="txtPassword" type="Password" Class="form-control" />
                <button id="show_password" class="btn btn-success" type="button" onclick="mostrarPassword()">
                    <span class="fa fa-eye-slash icon"></span>
                </button>
            </div>*@
        </div>
        <div class="table-responsive">
            <table class="styled-table table-sm">
                <thead>
                    <tr>
                        <th>Nombre y Apellido</th>
                        <th>Usuario</th>
                        <th>Servicios</th>
                        <th>Horarios</th>
                        <th>Cargo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>@item.Nombre @item.Apellido</td>
                            <td>@item.Usuario</td>
                            <td>@item.Servicios</td>
                            <td>@item.Hora @item.Dias</td>
                            <td>@item.Cargo</td>
                            <td>
                                <a class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editarEmpleado" onclick="cargarEmpleado(@item.Id)">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a class="btn btn-danger" onclick="eliminar(@item.Id)">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal para editar empleado -->
    <div class="modal fade" id="editarEmpleado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticLabel">Editar Empleado</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="formEditarEmpleado" method="post" onsubmit="return validateForm()">
                    <div class="modal-body">
                        <div class="form-group mb-3">
                            <label class="form-label" for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" required>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label" for="apellido">Apellido</label>
                            <input type="text" class="form-control" id="apellido" name="apellido" required>
                        </div>
                        <hr>
                        <div class="form-group mb-3">
                            <label class="form-check-label">Seleccione el nuevo cargo:</label> <br>
                            <select class="form-select" id="cargo" name="Cargo" aria-label="Cargo" required>
                                <option disabled selected>Cargo</option>
                                <option value="Peluquero">Peluquero</option>
                                <option value="Barbero">Barbero</option>
                                <option value="Administrador">Administrador</option>
                            </select>
                        </div>
                            <hr>
                            <div class="form-group mb-3">
                                <!--ESTA OPCION TIENE QUE SALIR DE LA TABLA SERVICIOS! POR MIENTRAS SERAN ITEMS EN BRUTO-->
                                <label class="form-check-label">Seleccione el servicio que realizará:</label> <br>
                                <select class="form-select" id="servicios" name="Servicios" required>
                                    <option value=""  disabled selected>Seleccione</option>
                                    <option value="Corte Infantil">Corte Infantil</option>
                                    <option value="Decoloración">Decoloración</option>
                                </select>
                            </div>
                            <hr>
                        <div class="form-group mb-3">
                            <label class="form-label" for="Hora">Horario</label><br>
                            <input type="text" class="form-control" id="hora" name="hora" required>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label" for="Dias">Días</label><br>
                            <input type="text" class="form-control" id="dias" name="Dias" required>
                        </div>
                        <hr>
                        <div>
                            <h3 class="modal-title">Inicio de Sesión</h3>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="Usuario">Usuario</label>
                            <input type="email" class="form-control" id="usuario" name="Usuario" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="Contrasena">Contraseña</label>
                            <input type="password" class="form-control" id="contrasena" name="Contrasena" required>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Cambiar Empleado</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Fin Modal editar empleado -->

    <!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

    <!-- Modal Agregar -->
    <div class="modal fade " id="miEmpleado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticLabel" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-2">
                <div class="modal-header">
                    <h2 class="modal-title fw-bold">Agregar Nuevo Empleado</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/Empleado/InsertEmpleado" method="post" onsubmit="return validateForm()">
                    <div class="modal-body">
                        <div class="form-group mb-3">
                            <label class="form-label" for="Nombre">Nombre</label><br />
                            <input type="text" class="form-control" id="nombre" name="Nombre" required />
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label" for="Apellido">Apellido</label><br />
                            <input type="text" class="form-control" id="apellido" name="Apellido" required />
                        </div>
                        <hr>
                        <div class="form-group mb-3">
                            <label class="form-check-label">Seleccione el cargo del nuevo empleado:</label> <br>
                            <select class="form-select" id="cargo" name="Cargo" aria-label="Cargo" required>
                                <option disabled selected>Cargo</option>
                                <option value="Peluquero">Peluquero</option>
                                <option value="Barbero">Barbero</option>
                                <option value="Administrador">Administrador</option>
                            </select>
                        </div>
                        <hr>
                        <div class="form-group mb-3">
                            <label class="form-check-label">Seleccione los servicios que realizará:</label> <br>
                            <select class="form-select" id="servicios" name="servicios" aria-label="Servicios" required>
                                <option disabled selected>Servicios</option>
                                <option value="Corte Infantil">Corte Infantil</option>
                                <option value="Decoloracion">Decoloración</option>
                            </select>
                        </div>
                        <hr>
                        <div class="form-group mb-12" style="text-align:center">
                            <strong class="form-label">Horario Laboral</strong>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label" for="Hora">Hora Inicio Jornada</label>
                            <input type="time" class="form-control" id="fechaInicio" name="FechaInicio" required />
                            <label class="form-label" for="Hora">Hora Fin Jornada</label>
                            <input type="time" class="form-control" id="fechaFin" name="FechaFin" required />
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label" for="Dias">Dias</label><br />
                            <input type="text" class="form-control" id="dias" name="Dias" required />
                        </div>

                        <hr>
                        <div>
                            <h3 class="modal-title">Inicio de Sesión</h3>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="Usuario">Usuario</label>
                            <input type="email" class="form-control" id="usuario" name="Usuario" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="Contrasena">Contraseña</label>
                            <input type="password" class="form-control" id="contrasena" name="Contrasena" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Crear Empleado</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- Fin Modal Agregar -->
</div>

<script>


    // Método eliminar elementos
    function eliminar(id) {
        Swal.fire({
            title: '¿Está seguro que desea eliminar este empleado?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sí',
            cancelButtonText: 'No',
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/Empleado/DeleteEmpleado",
                    type: "DELETE",
                    data: { id: id },
                    success: function (data) {
                        Swal.fire('¡Eliminado!', 'El empleado ha sido eliminado con éxito', 'success');
                        setTimeout(function () {
                            location.reload();
                        }, 1000);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log(xhr.responseText);
                    }
                });
            }
        });
    }


//Metodo para mostrar el elemento seleccionado -->
    function cargarEmpleado(id) {
        $.ajax({
            url: "/Empleado/GetEmpleadoEdit",
            type: "GET",
            data: { id: id },
            success: function (data) {

                $("#nombre").val(data.nombre);
                $("#apellido").val(data.apellido);
                $("#usuario").val(data.usuario);
                $("#contrasena").val(data.contrasena);
                $("#cargo").val(data.cargo);
                $("#dias").val(data.dias);
                $("#hora").val(data.hora);
                $("#servicios").val(data.servicios);

                $("#formEditarEmpleado").attr("action", "/Empleado/UpdateEmpleado?id=" + data.id);
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log(xhr.responseText);
            }
        });
    }
</script>

