@using Peluqueria_Calibrum.Models
@model IEnumerable<EmpleadoModel>
@{
    ViewData["Title"] = "Empleado";
}
<head>

<link rel="stylesheet" href="~/css/vistas.css">


</head>

<div class="card">
    <div class="card-header">
        <div class="card-title">
            <a>Administrar <span>Empleados</span></a>
        </div>
        <div class="card-btn">
            <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#miEmpleado">
                <i class="fa-solid fa-circle-plus"></i>   
                Nuevo Empleado
            </a>
        </div>
        
    </div>
    
    <div class="card-body">
        <div class="row">
            <div class="col-auto">
                <div class="mt-2 form-floating">
                    <input id="fullname" type="text" class="form-control">
                    <label for="fullname">Nombre o Apellido</label>
                </div>
            </div>
            <div class="col-auto">
                <div class="mt-2 form-floating">
                    <input id="fullname" type="text" class="form-control">
                    <label for="fullname">Servicio</label>
                </div>
            </div>
            <div class="col-auto">
                <div class="mt-2 form-floating">
                    <select class="form-select">
                        <option value="" disabled selected></option>
                        <option value="Peluquero">Peluquero</option>
                        <option value="Barbero">Barbero</option>
                        <option value="Administrador">Administrador</option>
                    </select>
                    <label for="cargo">Cargo:</label>
                </div>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-secondary btn-circle">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            @*<label>Ingrese Contraseña</label>
            <div class="input-group password">
                <input ID="txtPassword" type="Password" Class="form-control" />
                <button id="show_password" class="btn btn-success" type="button" onclick="mostrarPassword()">
                    <span class="fa fa-eye-slash icon"></span>
                </button>
            </div>*@
        </div>
        <div class="table-responsive">
            <table class="styled-table table-sm">
                <thead>
                    <tr>
                        <th>Nombre y Apellido</th>
                        <th>Usuario</th>
                        <th>Servicios</th>
                        <th>Horarios</th>
                        <th>Cargo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>@item.Nombre @item.Apellido</td>
                            <td>@item.Usuario</td>
                            <td></td>
                            <td>@item.Horario</td>
                            <td>@item.Cargo</td>
                            <td>
                                <a class="btn btn-warning">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a class="btn btn-danger">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade " id="miEmpleado" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content rounded-2  align-items-center">
                    <div class="modal-header">
                        <h2 class="modal-title fw-bold">Agregar Nuevo Empleado</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <div class="form-group mb-3">
                        <label  class="form-label">Nombre</label><br />
                        <input  type="text" class=" form-control">
                    </div>
                    <div class="form-group mb-3">
                        <label for="apellido" class="form-label">Apellido</label><br />
                        <input type="text" class="form-control" >
                    </div>
                    <hr>
                    <div class="form-group mb-3">
                        <label class="form-check-label"> Seleccione el rol del nuevo empleado:</label> </br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Peluquero" id="peluquero" value="option1">
                            <label class="form-check-label" for="Peluquero">Peluquero</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Barbero" id="barbero" value="option2">
                            <label class="form-check-label" for="Barbero">Barbero</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Administrativo" id="administrativo" value="option3">
                            <label class="form-check-label" for="Administrativo">Administrativo</label>
                        </div>

                    </div>
                    <hr>
                    <div class="form-group mb-3">
                        <select class="form-select" aria-label="Servicios">
                            <option disabled selected>Servicios</option>
                            <option value="1">Corte Infantil</option>
                            <option value="2">Decoloracion</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <table class="table table-striped">
                            <thead class="table-dark">
                                <tr>
                                    <th>Servicios</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Corte de Cabello</td>
                                </tr>
                                <tr>
                                    <td>Alisado Permanente</td>
                                </tr>
                                <tr>
                                    <td>Corte Infantil</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <div>
                        <h3 class="modal-title">Inicio de Sesion</h3>
                    </div>
                    <div class="mb-3">
                        <label for="Email" class="form-label">Usuario</label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="Password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control">
                    </div>
                    </div>
                        
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">
                            Crear Empleado
                        </button>
                    </div>
                </div>
            
        </div>
    </div>
    
</div>


