@using Peluqueria_Calibrum.Models
@model IEnumerable<EmpleadoModel>
@{
    ViewData["Title"] = "Empleado";
}

<div class="card">
        <div class="text-center">
            <div class="card-title">
                <h1>Lista de Empleados</h1>
            </div>
        </div>
            <div class="row">
                <div class="input-field col s4">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">Nombre</label>
                </div>
                <div class="input-field col s4">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Apellido</label>
                </div>
                <div class="input-field col s4" style="float: right">
                    <a class="btn-floating btn-large waves-effect waves-light red"><i class="fa-solid fa-magnifying-glass"></i></a>
                    <a class="btn-floating btn-large waves-effect waves-light red"><i class="fa-solid fa-plus"></i></a>
                </div>
            </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Acciones</th>
                    <th>Nombre y Apellido</th>
                    <th>Usuario</th>
                    <th>Servicios</th>
                    <th>Horarios</th>
                    <th>Cargo</th>
                </tr>
            </thead>
            <tbody>
@foreach (var item in Model)
{
                <tr>
                    <td>
                        <a class="btn btn-warning waves-effect waves-dark btn modal-trigger" >
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a class="btn btn-warning waves-effect waves-light btn modal-trigger">
                                <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                    <td>@item.Nombre @item.Apellido</td>
                    <td>@item.Usuario</td>
                    <td></td>
                    <td>@item.Horario</td>
                    <td>@item.Cargo</td>
                </tr>
}
            </tbody>
        </table>
 </div>



