@using Peluqueria_Calibrum.Models
@model IEnumerable<EmpleadoModel>
@{
    ViewData["Title"] = "Empleado";
}

<div class="card">
    <div class="card-header" style="background-color:white">
        <div class="card-title text-center">
            <h1>Lista de Empleados</h1>
        </div>
    </div>
        
    <div class="row">
        <div class="input-field col s4">
            <input id="fullname" type="text" class="validate">
            <label for="fullname">Nombre o Apellido</label>
        </div>
        <div class="input-field col s4">
            <input id="Servicio" type="text" class="validate">
            <label for="Servicio">Servicio</label>
        </div>
            <div class="input-field col s4">
                <select class="browser-default">
                <option value="" disabled selected>Cargo</option>
                <option value="Peluquero">Peluquero</option>
                <option value="Barbero">Barbero</option>
                <option value="Administrador">Administrador</option>
                </select>
            </div>
        <div class="input-field col s4">
            <a class="btn-floating btn-large waves-effect waves-light blue"><i class="fa-solid fa-magnifying-glass"></i></a>
            <a style="align-items:end" class="btn-floating btn-large waves-effect waves-light green"><i class="large material-icons">add</i></a>
        </div>
    </div>
    <table class="responsive-table">
        <thead>
            <tr>
                <th>Nombre y Apellido</th>
                <th>Usuario</th>
                <th>Servicios</th>
                <th>Horarios</th>
                <th>Cargo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
@foreach (var item in Model)
{
            <tr>
                    
                <td>@item.Nombre @item.Apellido</td>
                <td>@item.Usuario</td>
                <td></td>
                <td>@item.Horario</td>
                <td>@item.Cargo</td>
                <td>
                    <a class="btn btn-warning waves-effect waves-dark btn modal-trigger yellow darken-1">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a class="btn btn-warning waves-effect waves-light btn modal-trigger red">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>
}
        </tbody>
    </table>
 </div>



