@using Peluqueria_Calibrum.Models
@model IEnumerable<EmpleadoModel>
@{
    ViewData["Title"] = "Empleado";
}
<head>
    <link rel="stylesheet" href="~/css/empleado.css">

</head>

<div class="card">
    <div class="card-header">
        <div class="card-title">
            <a>Administrar <span>Empleados</span></a>
        </div>
        <div class="card-btn">
            <a class="waves-effect waves-light btn green lighten-1">
                <i class="fa-solid fa-circle-plus"></i>
                Nuevo Empleado
            </a>
        </div>
        
    </div>
    
    <div class="card-body">
        <div class="row">
            <div class="input-field col s4">
                <input id="fullname" type="text" class="validate">
                <label for="fullname">Nombre o Apellido</label>
            </div>
            <div class="input-field col s4">
                <input id="Servicio" type="text" class="validate">
                <label for="Servicio">Servicio</label>
            </div>
            <div class="input-field col s4">
                <select class="browser-default">
                <option value="" disabled selected>Cargo</option>
                <option value="Peluquero">Peluquero</option>
                <option value="Barbero">Barbero</option>
                <option value="Administrador">Administrador</option>
                </select>
            </div>
            <div class="input-field col s4">
                <a class="btn-floating btn-large waves-effect waves-light grey"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
        </div>
        <table class="styled-table responsive-table">
            <thead>
                <tr>
                    <th>Nombre y Apellido</th>
                    <th>Usuario</th>
                    <th>Servicios</th>
                    <th>Horarios</th>
                    <th>Cargo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    
                    <td>@item.Nombre @item.Apellido</td>
                    <td>@item.Usuario</td>
                    <td></td>
                    <td>@item.Horario</td>
                    <td>@item.Cargo</td>
                    <td>
                            <a class="btn btn-warning waves-effect waves-dark btn modal-trigger  amber lighten-2">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                            <a class="btn btn-warning waves-effect waves-light btn modal-trigger red lighten-2">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>


