@model IEnumerable<InventarioModel>

@{
    int pageSize = 5;
    int pageNumber = ViewBag.PageNumber ?? 1;
}

<table class="styled-table table-sm">
    <thead>
        <tr class="table">
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Cantidad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Skip((pageNumber - 1) * pageSize).Take(pageSize))
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Descripcion</td>
                <td>@item.Cantidad</td>
                <td>
                    <a class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editarInventario" onclick="cargarInventario(@item.Id)">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a class="btn btn-danger">
                        <i class="fa-solid fa-trash" onclick="eliminar(@item.Id)"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav>
    <ul class="pagination">
        @for (int i = 1; i <= Math.Ceiling((double)Model.Count() / pageSize); i++)
        {
            <li class="page-item @(pageNumber == i ? "active" : "")">
                <a class="page-link" href="?pageNumber=@i">@i</a>
            </li>
        }
    </ul>
</nav>
