@using Peluqueria_Calibrum.Models

@model IEnumerable<InventarioModel>

@{
    ViewData["Title"] = "Inventario";
}
<head>
<link rel="stylesheet" href="~/css/vistas.css">
</head>

<div class="card">
    <div class="card-header">
        <div class="card-title">
            <a>Administrar <span>Inventario</span></a>
        </div>
        <div class="card-btn">
            <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#miInventario">
                <i class="fa-solid fa-circle-plus"></i>
                Nuevo Articulo
            </a>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-auto">
                <div class="mt-2 form-floating">
                    <input id="nombre" type="text" class="form-control">
                    <label for="nombre">Nombre</label>
                </div>
            </div>
            <div class="col-auto">
                <div class="mt-2 form-floating">
                    <input id="descripcion" type="text" class="form-control">
                    <label for="descripcion">Descripcion</label>
                </div>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-secondary btn-circle">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="styled-table table-sm">
                <thead>
                    <tr class="table">
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Cantidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Imagen</td>
                            <td>@item.Nombre</td>
                            <td>@item.Descripcion</td>
                            <td>@item.Cantidad</td>
                            <td>
                                <a class="btn btn-warning">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a class="btn btn-danger">
                                    <i class="fa-solid fa-trash" onclick="eliminar(@item.Id)"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!--MODAL-->
    <div class="modal fade " id="miInventario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
            <div class="modal-content rounded-2  align-items-center ">
                
                    <div class="modal-header">
                        <h2 class="modal-title">Agregar Nuevo Articulo</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                <form asp-action="InsertInventario" method="post">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">Imagen de referencia</label>
                            <input class="form-control" type="file">
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label">Nombre Articulo</label><br />
                            <input required type="text" class="form-control" name="Nombre">
                        </div>
                        <div class="form-group mb-3">
                            <label for="descripcion" class="form-label">Descripcion</label>
                            <textarea required class="form-control" id="descripcion" rows="3" name="Descripcion"></textarea>
                        </div>
                        <div class="form-group mb-3">
                            <label for="cantidad" class="form-label">Cantidad</label>
                            <input required type="number" class="form-control" id="cantidad" name="Cantidad">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            Agregar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function eliminar(id) {
        if (confirm("¿Está seguro que desea eliminar este elemento?")) {
            $.ajax({
                url: "/Inventario/DeleteInventario",
                type: "DELETE",
                data: { id: id },
                success: function (data) {
                    // Actualizar la vista después de eliminar el elemento
                    location.reload();
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log(xhr.responseText);
                }
            });
        }
    }
</script>