@using Peluqueria_Calibrum.Models

@model IEnumerable<InventarioModel>

@{
    ViewData["Title"] = "Inventario";
}

<div class="card">
    <div class="card-header">
        <div class="card-title">
            <a>Administrar <span>Inventario</span></a>
        </div>
        <div class="card-btn">
            <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#miInventario">
                <i class="fa-solid fa-circle-plus"></i>
                Nuevo Articulo
            </a>
        </div>
    </div>
    <!--Buscador-->
    <div class="card-body">
        <div class="row">
            <div class="col-auto">
                <div class="mt-2 form-floating">
                    <input id="fullname" type="text" class="form-control">
                    <label for="fullname">Nombre</label>
                </div>
            </div>
            <div class="col-auto">
                <div class="mt-2 form-floating">
                    <input id="fullname" type="text" class="form-control">
                    <label for="fullname">Descripcion</label>
                </div>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-secondary btn-circle">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="styled-table table-sm">
                <thead>
                    <tr class="table">
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Cantidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Imagen</td>
                            <td>@item.Nombre</td>
                            <td>@item.Descripcion</td>
                            <td>@item.Cantidad</td>
                            <td>
                                <a class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editarInventario" onclick="cargarInventario(@item.Id)">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a class="btn btn-danger">
                                    <i class="fa-solid fa-trash" onclick="eliminar(@item.Id)"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal para editar Inventario -->
    <div class="modal fade" id="editarInventario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticLabel">Editar Servicio</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="formEditarInventario" action="/Inventario/InsertInventario" method="post">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">Imagen de referencia</label>
                            <input class="form-control" type="file">
                        </div>
                        <div class="form-group mb-3">
                            <label for="nombre" class="form-label">Nombre Articulo</label><br />
                            <input required type="text" class="form-control" id="nombre" name="Nombre">
                        </div>
                        <div class="form-group mb-3">
                            <label for="descripcion" class="form-label">Descripcion</label>
                            <textarea required class="form-control" id="descripcion" rows="3" name="Descripcion"></textarea>
                        </div>
                        <div class="form-group mb-3">
                            <label for="cantidad" class="form-label">Cantidad</label>
                            <input required type="number" class="form-control" id="cantidad" name="Cantidad">
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn btn-primary">
                            Modificar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Fin Modal editar Inventario -->

    <!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
    
    <!--Modal Agregar Inventario-->
    <div class="modal fade " id="miInventario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
            <div class="modal-content rounded-2">
                
                    <div class="modal-header">
                        <h2 class="modal-title">Agregar Nuevo Articulo</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                <form asp-action="InsertInventario" method="post">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">Imagen de referencia</label>
                            <input class="form-control" type="file">
                        </div>
                        <div class="form-group mb-3">
                            <label for="nombre" class="form-label">Nombre Articulo</label><br />
                            <input required type="text" class="form-control" id="nombre" name="Nombre">
                        </div>
                        <div class="form-group mb-3">
                            <label for="descripcion" class="form-label">Descripcion</label>
                            <textarea required class="form-control" rows="3" id="descripcion" name="Descripcion"></textarea>
                        </div>
                        <div class="form-group mb-3">
                            <label for="cantidad" class="form-label">Cantidad</label>
                            <input required type="number" class="form-control" id="cantidad" name="Cantidad">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            Agregar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    // Método eliminar Objeto inventario
    function eliminar(id) {
        Swal.fire({
            title: '¿Está seguro que desea eliminar este elemento?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sí',
            cancelButtonText: 'No',
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/Inventario/DeleteInventario",
                    type: "DELETE",
                    data: { id: id },
                    success: function (data) {
                        Swal.fire('¡Eliminado!', 'El elemento ha sido eliminado con éxito', 'success').then(() => {
                            location.reload();
                        });
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log(xhr.responseText);
                    }
                });
            }
        });
    }


    function cargarInventario(id) {
        $.ajax({
            url: "/Inventario/GetInventarioEdit",
            type: "GET",
            data: { id: id },
            success: function (data) {

                //$("#imagen").val(data.imagen);
                $("#nombre").val(data.nombre);
                $("#descripcion").val(data.descripcion);
                $("#cantidad").val(data.cantidad);

                $("#formEditarInventario").attr("action", "/Inventario/UpdateInventario?id=" + data.id);
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log(xhr.responseText);
            }
        });
    }
</script>