@model Peluqueria_Calibrum.Models.UnionModel

<table class="styled-table table-sm">
    <p>Citas de <strong>Hoy</strong>:</p>
    <thead>
        <tr>
            <th>Hora | Dia(Año/Mes/Dia)</th>
            <th>Servicio(s)</th>
            <th>Empleado</th>
            <th>Datos del Cliente</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cita in Model.Citas)
        {
            <tr>
                <td>@cita.Hora | @cita.Dia</td>
                <td>@cita.Nombre_servicio</td>
                <td>@cita.Nombre_Empleado</td>
                <td>@cita.Nombre_cliente <br />@cita.Telefono</td>
                <td>$@cita.Precio_Total</td>
            </tr>
        }
    </tbody>
</table>
