@using Peluqueria_Calibrum.Models
@using System.Linq

@model IEnumerable<EmpleadoModel>
@{
   Layout = "_LayoutClientes";
   ViewData["Title"] = "Home";
}

<!-- Banner -->
<div class="banner-imagen">
    <div class="banner-texto">
        <h3 style="font-size:40px">Bienvenidos a</h3>
        <h1 style="font-size:80px">Calibrum</h1>
    </div>
    <div class="banner-button">
        <a role="button" class="btn btn-primary btn-lg text-uppercase fw-bold" data-bs-toggle="modal" data-bs-target="#modalAgendar">Agenda tu hora</a>
    </div>
</div>

<!-- About -->
<section class="about py-5" id="about" style="background:#e4e5e6;">
    <div class="container-lg py-4">
        <div class="row  align-content-center align-items-center">
            <div class="col-md-6 mt-0 mt-md-0">
                <div class="about-image text-center">
                    <img class="mw-100" src="~/images/pelo.jpg" alt="Imagen">
                </div>
            </div>
            <div class="col-md-6 mt-md-0 order-md-first">
                <div class="about-text">
                    <h1 class="text-uppercase fs-1" style="color:#0d47a1">Nosotros</h1>
                    <h2 class="fs-4">Barberia / Peluqueria</h2>
                    <p class="mt-4 text-muted">
                        En Calibrum contamos con una amplia variedad de estilistas expertos en distintas áreas para ofrecer el mejor
                        servicio posible a nuestros clientes. Al ser una Peluqueria y Barberia ofrecemos una amplia gama de servicios; cortes
                        de pelo, barba, peinados, coloración y decoloración entre otras cosas. Visítanos, nuestra ubicación es...
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Servicios -->
<section id="servicios" class="servicios py-5 bg-white">
    <div class="container-sm py-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h1 class=" mb-5">Servicios</h1>
                    <hr />

                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="servicio-item shadow-lg p-4 rounded bg-white">
                    <div class="icon my-3 fs-2">
                        <img src="~/images/icon/hair-clipper.png" width="100px" height="100px" alt="corte" />
                    </div>
                    <h3 class="fs-5 py-2">Corte de cabello</h3>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit <b>$10.000</b></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="servicio-item shadow-lg p-4 rounded bg-white">
                    <div class="icon my-3 fs-2">
                        <img src="~/images/icon/razor.png" width="100px" height="100px" alt="perfilado" />
                    </div>
                    <h3 class="fs-5 py-2">Perfilado de barba</h3>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit <b>$10.000</b></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="servicio-item shadow-lg p-4 rounded bg-white">
                    <div class="icon my-3 fs-2">
                        <img src="~/images/icon/barber-chair.png" width="100px" height="100px" alt="silla" />
                    </div>
                    <h3 class="fs-5 py-2">Servicio completo</h3>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit <b>$10.000</b></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="servicio-item shadow-lg p-4 rounded bg-white">
                    <div class="icon my-3 fs-2">
                        <img src="~/images/icon/hair-color.png" width="100px" height="100px" alt="silla" />
                    </div>
                    <h3 class="fs-5 py-2">Coloracion</h3>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit <b>$10.000</b></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="servicio-item shadow-lg p-4 rounded bg-white">
                    <div class="icon my-3 fs-2">
                        <img src="~/images/icon/hair-iron.png" width="100px" height="100px" alt="silla" />
                    </div>
                    <h3 class="fs-5 py-2">Alisado</h3>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit <b>$10.000</b></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="servicio-item shadow-lg p-4 rounded bg-white">
                    <div class="icon my-3 fs-2">
                        <i class="fa-solid fa-question" style="height:100px; width:100px"></i>
                    </div>
                    <h3 class="fs-5 py-2">Lorem</h3>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit <b>$10.000</b></p>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a role="button" class="btn btn-primary btn-lg text-uppercase fw-bold" data-bs-toggle="modal" data-bs-target="#modalAgendar">Agenda tu hora</a>
        </div>
    </div>
</section>

<!-- Equipo -->
<section id="equipo" class="equipo py-5" style="background:#e4e5e6;">
    <div class="container-sm py-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h1 class="mb-5">Nuestro Equipo</h1>
                    <hr />
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <div id="carousel1" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        @for (var i = 0; i < Model.Count(); i++)
                        {
                            <button type="button" data-bs-target="#carousel1" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "") bg-black" aria-current="@(i == 0 ? "true" : "false")" aria-label="Slide @(i + 1)"></button>
                        }
                    </div>
                    <div class="carousel-inner">
                        @for (var i = 0; i < Model.Count(); i++)
                        {
                            var empleado = Model.ToList()[i];
                            <div class="equipo-item bg-white carousel-item @(i == 0 ? "active" : "") shadow-sm rounded p-4 mb-5">
                                <div class="equipo-info d-flex">
                                    <img src="~/images/Logo-Cuadrado.jpg" class="img-thumbnail rounded-circle" alt="1" height="100px" width="100px">
                                    <div class="info ms-3">
                                        <h3 class="fs-4 mb-1">@($"{empleado.Nombre} {empleado.Apellido}")</h3>
                                        <p class="text-muted m-0">@empleado.Cargo</p>
                                    </div>
                                    <div class="redes">
                                        <i class="fa-brands fa-instagram fa-xl"></i>
                                        <i class="fa-brands fa-facebook fa-xl"></i>
                                        <i class="fa-brands fa-whatsapp fa-xl"></i>
                                    </div>
                                </div>
                                <p class="text-muted mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Contacto-->
<section id="contacto" class="contacto py-5 bg-white">
    <div class="container-sm py-4">
        <div class="row">
            <div class="col-sm-4">
                <figure>
                    <blockquote>
                        <h4 class="fw-bold">TE ESPERAMOS</h4>
                    </blockquote>
                    <figcaption class="blockquote-footer text-black">
                        <cite class="text-black" style="font-size:20px">Contáctanos</cite>
                    </figcaption>
                </figure>
                <div class="contact-item d-flex mb-3 ">
                    <div class="icon fs-4"><i class="fa-solid fa-envelope"></i></div>
                    <div class="ms-3">
                        <h3 class="fs-5">Correo</h3>
                        <p class="text-muted">calibrum@calibrum.cl</p>
                    </div>
                </div>
                <div class="contact-item d-flex mb-3 ">
                    <div class="icon fs-4"><i class="fa-solid fa-phone"></i></div>
                    <div class="ms-3">
                        <h3 class="fs-5">Telefono</h3>
                        <p class="text-muted">999999999</p>
                    </div>
                </div>
                <div class="contact-item d-flex mb-3 ">
                    <div class="icon fs-4"><i class="fa-solid fa-location-dot"></i></div>
                    <div class="ms-3">
                        <h3 class="fs-5">Direccion</h3>
                        <p class="text-muted">Lorem 111 Local 1, San Joaquin</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <figure>
                    <blockquote>
                        <h4 class="fw-bold text-uppercase">Horario</h4>
                    </blockquote>
                </figure>
                <div class="horario-inicio">
                    <h3 class="fs-5">Lunes a viernes</h3>
                    <p class="lead">10:00 am - 7:00 pm</p>
                </div>
                <div class="horario-fin">
                    <h3 class="fs-5">Sabado</h3>
                    <p class="lead">10:00 am - 5:00 pm</p>
                </div>
                <div class="cerrado">
                    <h3 class="fs-5">Domingo</h3>
                    <p class="lead"><em>Cerrado</em></p>
                </div>
            </div>
            <div class="col-sm-4">
                <img src="~/images/Logo-Cuadrado-FondoBlanco.jpg" class="img-fluid" width="300px" height="300px" alt="Logo">
            </div>
        </div>
    </div>
</section>

<!-- Modal Agendar Hora-->
<div class="modal fade" id="modalAgendar" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fw-bold" id="modalLabel">Agendar Hora</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formCita" action="/Home/InsertCitasInicio" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-label">Seleccione un servicio:</label>
                        <select required class="form-select" aria-label="Servicios" name="nombre_servicio">
                            <option disabled selected></option>
                            <option>Corte de cabello</option>
                            <option>Perfilado de barba</option>
                            <option>Coloracion</option>
                            <option>Alisado</option>
                        </select>                           
                    </div>
                    <div class="form-group mt-3">
                        <label class="form-label">Seleccione un empleado:</label>
                        <select required class="form-select" arial-label="Peluquero" name="Id_Empleado" aria-label="Id_Empleado">
                            <option disabled selected></option>
                            <option value="1">Barbero 1</option>
                            <option value="2">Barbero 2</option>
                            <option value="3">Peluquero 1</option>
                            <option value="4">Peluquero 2</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-6 mt-3">
                            <label for="fecha" class="form-label">Fecha</label>
                            <input required class="form-control" type="date" id="dia" name="dia" />
                        </div>
                        <div class="col-6 mt-3">
                            <label for="hora" class="form-label">Hora</label>
                            <select required class="form-select" id="hora" name="hora">
                                <option>10 am</option>
                                <option>12 am</option>
                                <option>2 pm</option>
                                <option>4 pm</option>
                            </select>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <h3 class="fw-bold">Datos Cliente</h3>
                    </div>
                    <div class="mt-2">
                        <label class="form-label">Nombre Cliente</label>
                        <input required type="text" class="form-control" id="nombre_cliente" name="nombre_cliente">
                    </div>
                    <div class="mt-3">
                        <label class="form-label">Telefono Movil</label>
                        <input required type="text" class="form-control" id="telefono" name="telefono">
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="agendarCitaBtnModal" type="submit" class="btn btn-primary">
                        Agendar cita
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    // Obtener el formulario y el botón de envío
    const form = document.getElementById('formCita');
    const submitButton = document.getElementById('agendarCitaBtnModal');

    // Agregar un controlador de eventos al envío del formulario
    form.addEventListener('submit', function (event) {
        // Detener el envío del formulario
        event.preventDefault();

        // Validar los campos del formulario
        if (form.checkValidity()) {
            // Mostrar el mensaje "Todo listo"
            alert('Cita agendada con éxito!');

            // Agregar un retraso de 2 segundos antes de enviar el formulario
            setTimeout(function () {
                // Enviar el formulario
                form.submit();
            }, 2000);
        } else {
            alert('Por favor complete todos los campos');
        }
    });

</script>

@*<div class="modal-body">

    <div class="mb-3">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Servicios</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Corte de Cabello</td>
                    <td>$5000</td>
                </tr>
                <tr>
                    <td>Alisado Permanente</td>
                    <td>$5000</td>
                </tr>
                <tr>
                    <td>Corte Infantil</td>
                    <td>$5000</td>
                </tr>
            </tbody>
            <tfoot class="table-info">
                <tr>
                    <th>Total</th>
                    <th>$15000</th>
                </tr>
            </tfoot>
        </table>
    </div>

</div>*@